html {
    overflow-y: scroll;
}
* {
    font-family: 'Roboto', sans-serif;
}
span {
    display: inline-block;
    border-bottom: 2px solid white;
}
.fixed-bottom {
    height: 80px;
}
.footerbtns {
    display: none;
}
#play {
    width: 60px;
    height: 60px;
}
i {
    vertical-align: middle !important;
}
.end {
    width: 82px;
}